.idea/
__pycache__/
videos/kempten_left_camera.avi
videos/kempten_right_camera.avi
videos/buildingsshort.avi
videos/buildings_fisheye.avi
videos/buildings1.avi
/videos/HBF_ZUM_opo2.mp4
results/
output.avi

